In [152]:
import pandas as pd
import numpy as np
import math
import mpmath

In [153]:
rewards = pd.read_csv('/Users/eduardo/OpenAI-GYM-CarRacing-DQN-Risk/r_bound_300/rewards_2.csv')

lambs = []
for i in range(-10,3):
    lambs.append(i)
    
#for i in range(0,11):
#    lambs.append(round(0.7726278200644+(i/100000000000000), 14))


for lamb in lambs:
    if lamb == 0:
        rewards['{}'.format(lamb)] = rewards.apply(lambda row : row[1]/1000, axis = 1)
        continue
    try:
        rewards['{}'.format(lamb)] = rewards.apply(lambda row : np.sign(lamb) * mpmath.exp(lamb * row[1]), axis = 1)
    except (ValueError, OverflowError) as error:
        print(error)
        print('Error {}'.format(lamb))

rewards

,policy,reward,-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,0,1,2
0,1,-39.4,-1.29427293588907e+171,-1.00189747685151e+154,-7.75569453928105e+136,-6.00368791981188e+119,-4.64745851656973e+102,-3.59760050017935e+85,-2.78490476305403e+68,-2.15579649238274e+51,-1.66880339257027e+34,-1.29182173405245e+17,-0.0394,7.74100615928638e-18,5.99231763581098e-35
1,1,-59.3,-3.440549168084e+257,-6.0668742288382e+231,-1.06979906725293e+206,-1.88642454273262e+180,-3.32641676774113e+154,-5.86561946266888e+128,-1.03431091420952e+103,-1.82384669524089e+77,-3.21607045042474e+51,-5.67104086603574e+25,-0.0593,1.7633447256377e-26,3.10938462143431e-52
2,1,-200.3,-7.79555880992259e+869,-7.99212976976282e+782,-8.19365741624921e+695,-8.40026673601523e+608,-8.61208586732762e+521,-8.82924617955723e+434,-9.05188235465376e+347,-9.28013247067499e+260,-9.51413808742219e+173,-9.754044334235e+86,-0.2003,1.0252157625429e-87,1.05106735976642e-174
3,1,-116.6,-2.43986557364393e+506,-5.60569299565804e+455,-1.28793136396602e+405,-2.95907606708427e+354,-6.79860077623046e+303,-1.56200690576064e+253,-3.58877606429548e+202,-8.24536280355841e+151,-1.89440652033704e+101,-4.35247805317504e+50,-0.1166,2.29754174009108e-51,5.27869804746073e-102
4,1,-57.4,-1.92766966221128e+249,-2.27263322299738e+224,-2.67932927903581e+199,-3.15880508691587e+174,-3.72408485033849e+149,-4.39052350205677e+124,-5.17622379639425e+99,-6.10252804199906e+74,-7.19459783198078e+49,-8.48209751888103e+24,-0.0574,1.17895367009636e-25,1.38993175623367e-50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,5,-20.5,-1.07242959451986e+89,-1.34070093158698e+80,-1.67608111259084e+71,-2.09535760720211e+62,-2.61951731874899e+53,-3.27479708458381e+44,-4.0939969621274e+35,-5.11812203718218e+26,-6.3984349353005e+17,-799902177.475503,-0.0205,1.25015286638675e-9,1.562882189335e-18
4996,5,-20.5,-1.07242959451986e+89,-1.34070093158698e+80,-1.67608111259084e+71,-2.09535760720211e+62,-2.61951731874899e+53,-3.27479708458381e+44,-4.0939969621274e+35,-5.11812203718218e+26,-6.3984349353005e+17,-799902177.475503,-0.0205,1.25015286638675e-9,1.562882189335e-18
4997,5,-20.5,-1.07242959451986e+89,-1.34070093158698e+80,-1.67608111259084e+71,-2.09535760720211e+62,-2.61951731874899e+53,-3.27479708458381e+44,-4.0939969621274e+35,-5.11812203718218e+26,-6.3984349353005e+17,-799902177.475503,-0.0205,1.25015286638675e-9,1.562882189335e-18
4998,5,-20.5,-1.07242959451986e+89,-1.34070093158698e+80,-1.67608111259084e+71,-2.09535760720211e+62,-2.61951731874899e+53,-3.27479708458381e+44,-4.0939969621274e+35,-5.11812203718218e+26,-6.3984349353005e+17,-799902177.475503,-0.0205,1.25015286638675e-9,1.562882189335e-18
4999,5,-20.5,-1.07242959451986e+89,-1.34070093158698e+80,-1.67608111259084e+71,-2.09535760720211e+62,-2.61951731874899e+53,-3.27479708458381e+44,-4.0939969621274e+35,-5.11812203718218e+26,-6.3984349353005e+17,-799902177.475503,-0.0205,1.25015286638675e-9,1.562882189335e-18

In [154]:
rewards_by_policy = rewards.groupby('policy')
rewards_by_policy.agg({'reward': ['mean', 'var', 'min', 'max']})

         reward
           mean          var    min   max
policy
1      -52.6259  1748.718558 -343.7 -16.5
2      -47.3899  1189.025514 -275.4 -16.6
3      -21.1844    22.250527  -92.7 -19.6
4      -19.9148     0.147569  -21.2 -19.0
5      -20.5000     0.000000  -20.5 -20.5

In [155]:
agg = {}
for lamb in lambs:
    agg['{}'.format(lamb)] = ['mean']
        
def highlight_max(s):
    is_max = s == s.max()
    return ['background: lightgreen' if cell else '' for cell in is_max]        
rewards_by_policy_formated = rewards_by_policy.agg(agg).style.format('{:.2e}').highlight_max(color='lightgreen')
rewards_by_policy_formated